[submodule "pouvoir"]
	path = pouvoir
	url = https://github.com/Skillw/Pouvoir.git
	branch = javadoc
[submodule "attsystem"]
	path = attsystem
	url = https://github.com/Skillw/AttributeSystem.git
	branch = javadoc
[submodule "buffsystem"]
	path = buffsystem
	url = https://github.com/Skillw/BuffSystem.git
	branch = javadoc
[submodule "fightsystem"]
	path = fightsystem
	url = https://github.com/Skillw/FightSystem.git
	branch = javadoc
